/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 23, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */

/* line 27, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.hidden, [hidden] {
  display: none !important;
}

/*
 * Global add-ons
 */
/* line 34, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/* line 43, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
/* line 56, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
header {
  height: 32px;
}

/* line 60, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.boards-header {
  min-height: 1px;
  width: 180px;
  float: left;
}

/* line 66, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.navbar {
  padding: 0;
}

/* Hide for mobile, show later */
/* line 71, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.boards {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 180px;
  display: block;
  /*padding: 20px;*/
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  float: left;
  height: 100%;
}

/* line 87, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.catalog-header {
  min-width: 260px;
  width: 260px;
  float: left;
}

/* line 93, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.catalog {
  width: 260px;
  float: left;
  padding: 0;
  /*padding-top: $header_height;*/
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

/* Sidebar navigation */
/* line 105, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

/* line 110, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

/* line 114, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
/* line 126, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 130, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
body {
  margin: 0;
  /*padding-top: 32px;*/
}

.post {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* line 134, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.fit {
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 143, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.right {
  /*padding: 0;*/
  margin: 0;
}

/* line 151, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.thread {
  padding: 0px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* line 160, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
/* line 169, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.placeholders {
  margin-bottom: 0;
  text-align: center;
}

/* line 173, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.placeholders h4 {
  margin-bottom: 0;
}

/* line 176, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.placeholder {
  margin-bottom: 0px;
}

/* line 179, /home/cs13093/src/niki/futaba/app/assets/stylesheets/application.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}