<div class="container-fluid fit">
    <!--<header class="pos-f-t">
        <nav class="navbar navbar-static-top" style="background-color: #f5f5f5">
            <div class="boards-header"></div>
            <div class="catalog-header" ng-controller="CatalogSearchCtrl as search">
                <input class="form-control form-control-sm"
                    ng-change="search.changeText()"
                    ng-model="search.text"
                    placeholder="Search"
                    type="text" />
            </div>
        </nav>
    </header>-->

    <div class="row fit">
        <div class="container boards">
            <md-list>
                <h3 md-subheader>板</h3>
                <md-list-item *ngFor="let board of boards; let i = index">
                    <h4 md-line>
                        <a [routerLink]="['/catalog', i]">{{board.name}}</a>
                    </h4>
                </md-list-item>
            </md-list>
        </div>

        <div class="catalog threads container-fluid placeholders">
            <router-outlet></router-outlet>
        </div>
        <thread></thread>
    </div>
</div>