<div *ngIf="board">
    <md-list>
        <md-list-item *ngFor="let thread of threads" (click)="catalogService.selected(thread)">
            <img *ngIf="!!thread.thumbnail.uri" class="thread-thumb" [src]="thread.thumbnail.uri" />
            <p md-line>{{thread.head_letters}}</p>
            <h5 md-line>{{thread.n_posts}}</h5>
        </md-list-item>
    </md-list>
</div>

