<div class="container-fluid thread">
  <div class="post" *ngFor="let post of posts; let i = index">
    <md-card>
      <md-card-header>
        <div>
          <span><b>{{i}}</b></span>
          <span>{{post.title}}</span>
          <span><b> 名前:</b>{{post.name}}</span>
          <span *ngIf="!!post.mailto"><b>mail:</b>{{post.mailto}}</span>
          <span *ngIf="!!post.ip"><b>IP:</b>{{post.ip}}</span>
          <span *ngIf="!!post.id"><b> ID:</b>{{post.id}}</span>
          <span><b> 投稿日:</b>{{post.date | date: "yy/MM/dd HH:mm:ss"}}</span>
          <span><b> No.</b>{{post.no}}</span>
          <span *ngIf="!!post.soudane"><b> そうだねx</b>{{post.soudane}}</span>
          <span *ngIf="!!post.image.uri">
            <b> gazo:</b>
            <a [href]="post.image.uri" target="_blank">{{post.image.uri | imageFilter}}</a>
          </span>
        </div>
      </md-card-header>
      <!--<span ng-if="$index == thread.active.newest_id"><hr /></span>-->
      <md-card-content>
        <div *ngIf="!!post.image.thumbnail"><img [src]="post.image.thumbnail.uri" /><br /></div>
        <div>
            <p [innerHTML]="post.body"></p>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div><button md-button class="button-xsmall pure-button" (click)="update()">更新</button></div>
</div>

<!--<div class="container-fluid thread">
  <div *ngFor="let post of posts; let i = index">
    <span ng-if="$index == thread.active.newest_id"><hr /></span>
    <div>
      <p>
        <span>{{i}}</span>
        <span>{{post.title}}</span>
        <span><b> 名前:</b>{{post.name}}</span>
        <span *ngIf="!!post.mailto"><b>mail:</b>{{post.mailto}}</span>
        <span *ngIf="!!post.ip"><b>IP:</b>{{post.ip}}</span>
        <span *ngIf="!!post.id"><b> ID:</b>{{post.id}}</span>
        <span><b> 投稿日:</b>{{post.date | date: "yy/MM/dd HH:mm:ss"}}</span>
        <span><b> No.</b>{{post.no}}</span>
        <span *ngIf="!!post.soudane"><b> そうだねx</b>{{post.soudane}}</span>
        <span *ngIf="!!post.image.uri">
          <b> gazo:</b>
          <a [href]="post.image.uri" target="_blank">{{post.image.uri | imageFilter}}</a>
        </span>
      </p>
    </div>
    <div>
        <div *ngIf="!!post.image.thumbnail"><img [src]="post.image.thumbnail.uri" /><br /></div>
        <div>
            <p [innerHTML]="post.body"></p>
        </div>
    </div>
  </div>
  <div><button md-button class="button-xsmall pure-button" (click)="update()">更新</button></div>
</div>-->
